.about {
    width: 100%;
    font-weight: 200;
}

.about .heading {
    width: 800px;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: left;
    background-image: linear-gradient(yellow 100%, yellow 100%);
    background-attachment: local;
    background-position: 0 6rem;
    background-repeat: no-repeat;
    padding: 0 0 2rem 0;
}

.heading h1 {
    font-size: 3.5rem;
    margin: 0 0 0 3rem;
    font-weight: 100;
}

.about-container {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 800px;
    padding-right: 5rem;
}

.content p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.skills {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin: 2rem 0;
    font-weight: 100;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.skills div {
    padding: 5px;
    margin: 2px;
}

.skills .skill-container {
    width: 100%;
    display: flex;
}

.skills .type-2 {
    background: #111111;
    color: rgb(240, 240, 240);
}

.skills .type-3 {
    background: rgb(220, 220, 220);
}

.content button {
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
    background: none;
    outline: none;
    border: 1px solid black;
    padding: 1rem 3rem;
    margin: 2rem 0;
    font-family: 'Times New Roman', Times, serif;
}