.projects {
    width: 100%;
    font-weight: 100;
    margin: 5rem 0;
}

.projects .heading {
    width: 800px;
    height: 16rem;

    background-image: linear-gradient(yellow 100%, yellow 100%);
    background-attachment: local;
    background-position: 0 7rem;
    background-repeat: no-repeat;
    padding: 0 0 3rem 0;
}

.project-content {
    background: rgb(20, 20, 20);
    position: relative;
    top: -3rem;
    width: 100%;
    max-width: 1600px;
    color: white;
    padding: 8rem 2rem;
    margin: 0 auto;
}

.project-content .description {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}