.images-wrap {
    width: 90%;
    height: auto;
    margin: 1rem 0.5rem 0 0.5rem;
    display: flex;
    justify-content: center;
}

.image-cover {
    max-width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    /* background: grey; */
    margin-bottom: 30px;
  }