.wrap {
    height: 100vh;
    width: 100%;
    color: rgb(14, 46, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap .about {
    width: 700px;
    text-align: center;
    margin: 2rem;
}

.about .title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem;
    letter-spacing: 5px;
}

.about .description {
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.wrap .subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.subscribe .heading {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 1rem;
    line-height: 2rem;
}

.subscribe .form {
    width: 600px;
    margin: 0.5rem;
}

.form .label {
    font-size: 1.1rem;
    color: rgb(14, 46, 71);
}

.form .input input {
    width: 70%;
    font-weight: 100;
    font-size: 1rem;
    color: rgb(14, 46, 71);
    padding: 10px;
    outline: none;
    background: transparent;
    border: 1px solid rgb(14, 46, 71);
    margin: 5px 5px 5px 0;
}

.form .input input:hover {
    border: 2px rgb(14, 46, 71) inset;
}
.form .input input:active {
    border: 2px rgb(14, 46, 71) inset;
}

.form .input input:focus {
    border: 2px rgb(14, 46, 71) inset;
}

.form .input button {
    width: calc(30% - 10px);
    font-size: 1rem;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(14, 46, 71);
    background: rgb(14, 46, 71);
    color: white;
    font-weight: 100;
    transition: all 0.3s ease;
}

.form .input button:hover {
    cursor: pointer;
    background: transparent;
    color: rgb(14, 46, 71);
}